body {
    width: 100%;
    font-family: "Comic Sans MS", sans-serif;
    margin: 0;
    padding: 0;
}

/*Flex*/
.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.space-btw {
    justify-content: space-between;
}

.space-ev {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.align-s-end {
    align-self: end;
}

.d-none {
    display: none;
}

.f-grow1 {
    flex-grow: 1;
}

/*alignments*/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/*paddings, margins*/
.pad-15 {
    padding: 15px;
}

.margin-r-15 {
    margin-right: 15px;
}

.margin-t-30 {
    margin-top: 30px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin {
    margin: 10px;
}

/*Others*/
.img-logo {
    width: 100%;
    height: 300px;
}

.container {
    background-color: #e8e4e4;
    width: 100%;
    /*height: 1000px;*/
}

main {
    width: 80%;
}

.introduction {
    background-color: white;
    width: auto;
    height: auto;
    margin-top: -40px;
    border-radius: 20px;
    padding: 15px;
}


.box1 {
    width: 70%;
}

.photo {
    width: 170px;
    height: 170px;
    margin-top: -60px;
    border-radius: 20px;
}

.box2 {
    width: 100%;
    border-left: 1px solid grey;
}

.box1 > h2, h3 {
    margin: 10px 0;
}

.icons {
    width: 35px;
    height: 35px;
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.64) 0%, rgba(171, 164, 166, 0.64) 50%);
    margin: 0 5px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
}

.icons:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.90) 0%, rgba(171, 164, 166, 0.9) 50%);
    cursor: pointer;
}

.selected {
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.90) 0%, rgba(171, 164, 166, 0.9) 50%);
    border-radius: 10px;
}

#darkMode {
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.64) 0%, rgba(171, 164, 166, 0.64) 50%);
    border-radius: 10px;
    padding: 5px;
    color: black;
    font-weight: bold;
}

#darkMode:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.90) 0%, rgba(171, 164, 166, 0.9) 50%);
    cursor: pointer;
}


p {
    margin-bottom: 5px;
}

.navBar {
    background-color: white;
    width: 15%;
    border-radius: 20px;
    height: 100%;
    position: sticky;
    top: 0;
}

.mainPage {
    background-color: white;
    width: 85%;
    border-radius: 20px;
}

.navBarBtn {
    font-size: 25px;
    margin: 10px 0;
    padding: 5px;
}

.navBarBtn:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.90) 0%, rgba(171, 164, 166, 0.9) 50%);
    border-radius: 10px;
    cursor: pointer;
}

#cvBtn {
    padding: 10px;
    border-radius: 10px;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
}

#cvBtn:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.90) 0%, rgba(171, 164, 166, 0.9) 50%);
    border-radius: 10px;
    cursor: pointer;
}

.card {
    width: 45%;
    border-radius: 20px;
    border: 1px solid grey;
    height: auto;
    margin: 10px;
    padding: 10px;
}

.logoClients {
    margin: 15px;
    border-radius: 10px;
    width: 45%;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*font style and others*/
.greyFont {
    color: #696666;
}

.box2 > p {
    color: #696666;
}

.col {
    color: rgba(23, 192, 243, 0.99);
}

/*RESUME*/
.card2 {
    width: auto;
    border-radius: 10px;
    height: auto;
    margin: 10px 10px 20px 0;
    padding: 15px;
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.6) 0%, rgba(171, 164, 166, 0.6) 50%);
    box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
}

.card2:hover {
    color: #eeeaea;
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.90) 0%, rgba(171, 164, 166, 0.9) 50%);
}


.rating {
    background-color: white;
    width: 70px;
    border-radius: 5px;
}

.bar-grey {
    background-color: lightgrey;
    border-radius: 10px;
    border: solid 2px lightgrey;
}

.bar-container {
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.90) 0%, rgba(171, 164, 166, 0.9) 50%);
    border-radius: 10px;
    height: 10px;
}

span {
    font-size: 13px;
}

/*WORK*/
.card3 {
    width: 350px;
    border-radius: 10px;
    height: 350px;
    margin: 10px 10px 20px 0;
    padding: 15px;
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.6) 0%, rgba(171, 164, 166, 0.6) 50%);
    box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
}

.workImage {
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

.back-img1 {
    background: url("https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
    background-position: center;
    backface-visibility: visible;
    height: 70%;
    width: auto;
    border-radius: 10px;
    padding: 10px;
}

.card3:hover > .back-img1 .workImage {
    transform: scale(1.1);

}

.card3:hover {
    color: rgba(23, 192, 243, 0.99);
}

.card3:hover > h3 > .fa-share {
    visibility: visible;
}

.visabilityH {
    visibility: hidden;
}

/*blog*/
.card4 {
    width: 350px;
    border-radius: 10px;
    height: 350px;
    margin: 10px 10px 20px 0;
    padding: 15px;
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.6) 0%, rgba(171, 164, 166, 0.6) 50%);
    box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);

}

.divBox {
    overflow: hidden;
    display: inline-block;
    height: 70%;
    width: 100%;
    border-radius: 10px;
}

.blogImage {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
}

.card4:hover > .divBox > .blogImage {
    transform: scale(1.2);
    transform-origin: 50% 50%;

}

.card4:hover {
    color: rgba(23, 192, 243, 0.99);
}

.card4:hover > h3 > .fa-share {
    visibility: visible;
}

/*CONTACT*/
.contactImage {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s;
}

.divBox2 {
    overflow: hidden;
    display: inline-block;
    height: 40%;
    width: 100%;
    max-height: 240px;
    border-radius: 10px;
}

.sideBar1:hover > .divBox2 > .contactImage {
    transform: scale(1.2);
}

.sideBar1 {
    height: 750px;
    width: 20%;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.6) 0%, rgba(171, 164, 166, 0.6) 50%);
    box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
}

.sideBar2 {
    height: auto;
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.6) 0%, rgba(171, 164, 166, 0.6) 50%);
    box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
}

#name, #phone {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px grey;
    margin-bottom: 20px;
}

#email, #subject {
    width: 99%;
    height: 40px;
    border-radius: 5px;
    border: solid 1px grey;
    margin-bottom: 20px;
}

#message {
    width: 99%;
    height: 300px;
    border-radius: 5px;
    border: solid 1px grey;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
}

#submitBtn {
    padding: 10px;
    border-radius: 10px;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
}

#submitBtn:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.90) 0%, rgba(171, 164, 166, 0.9) 50%);
    border-radius: 10px;
    cursor: pointer;
}

/*dark mode*/
.darkModeClass {
    background-color: #2f2d2d;
    color: #e1dbdb;
}

.darkModeClassCard {
    background: linear-gradient(90deg, rgba(21, 23, 23, 0.6) 0%, rgba(117, 115, 116, 0.6) 50%);
    width: auto;
    border-radius: 10px;
    height: auto;
    margin: 10px 10px 20px 0;
    padding: 15px;
    box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
}

.darkModeClassCard:hover {
    color: #eeeaea;
    background: linear-gradient(90deg, rgba(28, 30, 30, 0.9) 0%, rgba(44, 41, 41, 0.9) 50%);

}

.darkModeMain {
    background-color: black;
}

/*modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(245, 236, 236, 0.7); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 40%;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(138, 183, 186) 0%, rgb(171, 164, 166) 50%);
    box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
}

.sizeModalImg {
    height: 90%;
}

/* The Close Button */
.close {
    color: #111010;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalBtn {
    padding: 10px;
    border-radius: 10px;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.64) 0%, rgba(171, 164, 166, 0.64) 50%);
    box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
    border: solid 1px grey;
    font-size: 10px;

}

.modalBtn:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.90) 0%, rgba(171, 164, 166, 0.9) 50%);
    border-radius: 10px;
    cursor: pointer;
}

/*Modal (work)*/
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(245, 236, 236, 0.7);
/
}

.modal-content2 {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: auto;
    border-radius: 10px;
    background: linear-gradient(90deg, rgb(138, 183, 186) 0%, rgb(171, 164, 166) 50%);
    box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
}

.sizeModalImg2 {
    height: 400px;
}


/* The Close Button */
.close2 {
    color: #111010;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modalBtn2 {
    padding: 10px;
    border-radius: 10px;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.64) 0%, rgba(171, 164, 166, 0.64) 50%);
    box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
    border: solid 1px grey;
    font-size: 10px;

}

.modalBtn2:hover {
    transform: scale(1.1);
    background: linear-gradient(90deg, rgba(138, 183, 186, 0.90) 0%, rgba(171, 164, 166, 0.9) 50%);
    border-radius: 10px;
    cursor: pointer;
}

/*Responsive design*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /*.md-size {*/
    /*    !*transform: scale(0.8);*!*/
    /*    !*transform-origin: top;*!*/
    /*}*/

    .md-d-flex {
        display: flex;
    }

    .md-d-block {
        display: block;
    }

    .md-column {
        flex-direction: column;
    }

    .md-row {
        flex-direction: row;
    }

    .md-justify-center {
        justify-content: center;
    }

    .md-align-center {
        align-self: center;
    }

}

@media screen and (max-width: 768px) {
    .sm-size {
        transform: scale(0.8);
        transform-origin: 0 0;
    }

    .sm-d-flex {
        display: flex;
    }

    .sm-d-block {
        display: block;
    }

    .sm-column {
        flex-direction: column;
    }

    .sm-row {
        flex-direction: row;
    }

    .sm-justify-center {
        justify-content: center;
    }

    .sm-align-center {
        align-self: center;
    }

    .sm-box2 {
        border: none;
    }

    .sm-align-s-center {
        align-self: center;
    }

    .sm-navBar {
        width: 94%;
        height: 100%;
    }
    .sm-card {
        width: auto;
        height: auto;
    }
    .sm-mainPage {
        background-color: white;
        width: 94%;
        border-radius: 20px;
        height: 100%;
    }
    .sm-space-btw {
        justify-content: space-between;
    }
    .sideBar1 {
        height: 100%;
        width: 30%;
        padding: 15px;
        border-radius: 10px;
        background: linear-gradient(90deg, rgba(138, 183, 186, 0.6) 0%, rgba(171, 164, 166, 0.6) 50%);
        box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
    }

    .sideBar2 {
        height: 100%;
        width: 70%;
        padding: 15px;
        border-radius: 10px;
        background: linear-gradient(90deg, rgba(138, 183, 186, 0.6) 0%, rgba(171, 164, 166, 0.6) 50%);
        box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
    }
    #name, #phone {
        width: 90%;
        height: 40px;
        border-radius: 5px;
        border: solid 1px grey;
        margin-bottom: 20px;
    }

    #email, #subject {
        width: 95%;
        height: 40px;
        border-radius: 5px;
        border: solid 1px grey;
        margin-bottom: 20px;
    }

    #message {
        width: 95%;
        height: 200px;
        border-radius: 5px;
        border: solid 1px grey;
        margin-bottom: 20px;
    }
    .sm-grow-none {
        flex-grow: unset;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(245, 236, 236, 0.7); /* Black w/ opacity */
    }
    .modal-content {
        background-color: #fefefe;
        margin: 0 auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */
        height: 80%;
        border-radius: 10px;
        background: linear-gradient(90deg, rgb(138, 183, 186) 0%, rgb(171, 164, 166) 50%);
        box-shadow: 5px 5px 15px 1px rgba(105, 105, 105, 0.69);
    }

    .sizeModalImg {
        height: 50%;
        width: auto;
    }

    .sm-darkModeClass {
        background-color: #2f2d2d;
        color: #e1dbdb;
    }

}